//intro and email sign up background
$dark-blue: hsl(217, 28%, 15%);

$mainbg: hsl(218, 28%, 13%);
$dark-blue-footerbg: hsl(216, 53%, 9%);
$dark-blue-testimonialbg: hsl(219, 30%, 18%);


//inside call-to-action gradient
$cyan: hsl(176, 68%, 64%);
//inside call-to-action gradient
$blue:hsl(198, 60%, 50%);

//error
$light-red: hsl(0, 100%, 63%);

//Neutral
$white:hsl(0, 0%, 80%);

$Raleway: 'Raleway', sans-serif;
$OpenSans: 'Open Sans', sans-serif;